lib/templates/state-machines/create.json.ejs
{
<%- include('frags/title') %>
  "version": "1.0",
<%- include('frags/categories') %>
  "instigators": [
    "user"
  ],
  "StartAt": "AwaitingHumanInput",
  "States": {
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "form",
        "uiName": "<%= uiName %>",
        "dataPath": "$.formData"
      },
      "ResultPath": "$.formData",
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$.formData",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "<%= model %>"
      },
<% if (reindex) { %>
      "Next": "DeltaReindex"
    },
<% } else { %>
      "End": true
    }
<% } %>
<% if (reindex) { %>
    "DeltaReindex": {
      "Type": "Task",
      "Resource": "module:deltaReindex",
      "ResourceConfig": {
        "core": "tymly"
      },
      "End": true
    }
<% } %>
  },
<%- include('frags/restrictions') %>
}
