lib/templates/state-machines/update.json.ejs
{
<%- include('frags/title') %>
  "version": "1.0",
<%- include('frags/categories') %>
  "StartAt": "FindingById",
  "States": {
    "FindingById": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "<%= model %>"
      },
      "ResultPath": "$.formData",
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "form",
        "uiName": "<%= uiName %>",
        "dataPath": "$.formData"
      },
      "ResultPath": "$.formData",
<%- include('frags/presave') %>
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$.formData",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "<%= model %>"
      },
<%- include('frags/reindex') %>
      "End": true
    }
  },
<%- include('frags/restrictions') %>
}
