lib/templates/state-machines/update.json.ejs
{
  "Comment": "Edit <%= model %> using <%= formName %> form.",
  "name": "Edit <%= model %>",
  "version": "1.0",
  "categories": [
    "gazetteer"
  ],
  "StartAt": "FindingById",
  "States": {
    "FindingById": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "<%= model %>"
      },
      "ResultPath": "$.formData",
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "form",
        "uiName": "<%= uiName %>",
        "dataPath": "$.formData"
      },
      "ResultPath": "$.formData",
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$.formData",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "<%= model %>"
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "$authenticated",
      "allows": [
        "*"
      ]
    }
  ]
}
